body{
	background: rgb(9,0,29);
	background: -moz-linear-gradient(45deg, rgba(9,0,29,1) 0%, rgba(3,0,62,1) 10%, rgba(0,1,27,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(9,0,29,1) 0%, rgba(3,0,62,1) 10%, rgba(0,1,27,1) 100%);
	background: linear-gradient(45deg, rgba(9,0,29,1) 0%, rgba(3,0,62,1) 10%, rgba(0,1,27,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09001d",endColorstr="#00011b",GradientType=1);
}
.header-container{
	display: inline-flex;
	position: fixed;
	background: rgba(0,0,0,0);
	padding: 0;
	margin: 0;
	height: 75px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	z-index: 1000;
	transition: .5s ease;
}

.myName{
	text-align: center;
	margin: 7px 0 0 0;
	color: #ffffff;
}

.links-container{
	display: flex;
	position: relative;
	height: 50%;
}

.links-list{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.links-list > li > a{
	position: relative;
	height: 70%;
 	color: #bbbbbb;
 	font-weight: 500;
	font-size: 15px;
 	padding: 4px 0;
 	text-decoration: none;
 	transition: 0.2s ease;
}

a:after{
	content: "";
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	transform: scale(0, 1);
	left: 0%;
	bottom: -1px;
	height: 3px;
	transition: 0.2s ease;
}

.links-list > li > a:hover{
 	font-weight: 700;
 	color: #ffffff;
}

a:hover::after{
	transform: scale(1, 1);
}

.divide{
	position: relative;
	display: inline-block;
	border: 1px solid #bbbbbb;
	margin: 10px 0;
}

.section-title{
	color: #bbbbbb;
}

.main-container, .projects-container{
	display: flex;
	position: relative;
	padding: 0;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: center;
}

.aboutMe-container{
	display: inline-block;
	position: relative;
}

.img-container{
	position: relative;
	margin-top: 100px;
}

.aboutMe-title, .contact-title{
	position: relative;
	color: #bbbbbb;
	margin: 7px;
	font-weight: bold;
	text-align: center;
	z-index: 900;
}
.contact-title{
	position: absolute;
	color: #bbbbbb;
	margin: 7px;
	font-weight: bold;
	text-align: center;
	z-index: 900;
	top: -40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	color: #bbbbbb;
}

.profile-photo{
	position: relative;
	width: 100%;
	filter: brightness(1.2);
	object-fit: cover;
}

.aboutMe-paragraph, .board-description, .wp-description{
	position: relative;	
	margin: 15px 15px 5px 15px;
	text-align: justify;
	font-size: 13px;
	color: #bbbbbb;
}

.video-board-container, .video-wp-container{
	margin-bottom: 13px;
}

.project-title{
	position: relative;
	color: #bbbbbb;
	padding: 7px;
	font-weight: bold;
	text-align: center;
	z-index: 900;
}

.video{
	display: block;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 14px;
}

.function-list{
	font-size: 13px;
	color: #bbbbbb;
}

.rolldown{
	transform: translateY(-125%);
}

.rollup{
	transform: translateY(0px);
}

.backblack{
	background-color: rgba(0,0,0,0.7);
}

.footer-container{
	display: inline-flex;
	position: relative;
	background: transparent;
	padding: 0;
	margin: 0;
	height: 120px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	z-index: 1000;
}

footer svg{
	color: #bbbbbb;
    height: 15px;
}

.contact-container{
	display:inline-flex;
	position: relative;
	justify-content: space-evenly;
}

.footer-contact_list{
	display: inline-block;
	position: relative;
}

footer span{
	color: #bbbbbb;
	font-size: 15px;
	font-weight: bold;
	margin: 3px;
}

.list-links_footer{
	display: inline-flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.list-item{
	margin: 5px 0 2px 0;
	text-align: center;
}

.desingnedBy{
	display: inline-block;
	position: absolute;
	color: #fff;
	bottom: 5px;
	right: 3px;
	font-size: 10px;
	font-weight: bold;
	margin: 0
}

@media screen and (min-width: 768px) and (max-width: 991px){
.header-container{
		height: 90px;
		justify-content: space-evenly;
	}

.links-list{
	justify-content: space-evenly;
}

.links-list > li > a{
	font-size: 18px;
}

.aboutMe-title{
	font-size: 29px;
}

.aboutMe-paragraph, .board-description, .wp-description{
	margin: 20px 15px 5px 15px;
	font-size: 16px;
}

.function-list{
	font-size: 16px;
}

.boards{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.projects-title{
	height: fit-content;
	font-size: 35px;
	font-weight: bolder;
}

.project-title{
	height: fit-content;
	font-size: 28px;
}

.video-board-container{
	display: inline-block
}

/*.video{
	box-shadow: -4px 3px 8px #111;
}*/

.list-links_footer{
	margin-top: 10px;
}

.footer-container{
	height: 120px;
}

.contact-title{
	top: -50%;
}

footer svg{
    height: 18px;
}

footer span{
	font-size: 17px;
	margin: 6px;
}

}
@media screen and (min-width: 992px) and (max-width: 1200px) {
.header-container{
	justify-content: space-evenly;
}

.links-list > li > a{
	font-size: 20px;
}

.aboutMe-container{
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.aboutMe-title{
	font-size: 38px;
}

.aboutMe-paragraph{
	font-size: 19px;
}

.project-container{
	display: inline-flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

}